huggingface-hub
jupyterlab
matplotlib
matplotlib-inline
torch
torchvision
torchaudio
tensorflow[and-cuda]
jupyter
langchain
langgraph
langsmith
langchain-ollama
langchain-community
langchainhub
langchain-core
pygraphviz